@model List<OC_eBibliotheque.Models.Livre>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Les Livres</title>
    <link type="text/css" href="~/Content/Site.css" rel="stylesheet" />
</head>

<body>
    <div>
        @Html.ActionLink("Liste des livres", "Livres", "Afficher") &nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Détails livre 1", "Livre", "Afficher", new { id = 1 }, null)&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Liste des auteurs", "Auteurs", "Afficher")&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Rechercher - critères", "Index", "Rechercher")&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Rechercher - résultats (ex chaine 'titre')", "Livre", "rechercher", new { chaine = "titre" }, null)&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Ajouter un livre", "Livre", "Ajouter")
    </div> <br/>
    <table>
        <tr>
            <th>Titre</th>
            <th>Auteur</th>
        </tr>
        @foreach (OC_eBibliotheque.Models.Livre livre in Model)
        {
            <tr>
                <td>@livre.Titre</td>
                <td>@livre.Auteur.Nom</td>
            </tr>
        }
    </table>
</body>
</html>