@model OC_eBibliotheque.ViewModels.AjouterLivreViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ajouter un livre</title>
    <link type="text/css" href="~/Content/Site.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>

<body>
    <div>
        @Html.ActionLink("Liste des livres", "Livres", "Afficher") &nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Détails livre 1", "Livre", "Afficher", new { id = 1 }, null)&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Liste des auteurs", "Auteurs", "Afficher")&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Rechercher - critères", "Index", "Rechercher")&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Rechercher - résultats (ex chaine 'titre')", "Livre", "rechercher", new { chaine = "titre" }, null)&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Ajouter un livre", "Livre", "Ajouter")
    </div> <br />

    <div>
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>Ajout d'un livre à la bibliothèque</legend>
                <div style="display: table;">
                    <div style="display: table-row">
                        <div style="display: table-cell;">
                            @Html.LabelFor(model => model.Titre) : <br />
                            @Html.LabelFor(model => model.DateParution) : <br />
                            @Html.LabelFor(model => model.SelectedAuteurs) : <br />
                        </div>
                        <div style="display: table-cell;">
                            @Html.TextBoxFor(model => model.Titre)<br />
                            @Html.TextBoxFor(model => model.DateParution)<br />
                            @Html.DropDownListFor(model => model.SelectedAuteurs, new SelectList(Model.AuteursList, "Value", "Text"))<br />
                        </div>
                        <div style="display: table-cell;">
                            @Html.ValidationMessageFor(model => model.Titre)<br />
                            @Html.ValidationMessageFor(model => model.DateParution)<br />
                            @Html.ValidationMessageFor(model => model.SelectedAuteurs)<br />
                        </div>

                    </div>
                </div>

                <br /><br />
                <input type="submit" value="Ajouter" />
            </fieldset>
        }
    </div>
</body>

</html>