@model OC_eBibliotheque.ViewModels.AjouterLivreViewModel
@{
    Layout = "~/Views/Shared/LayoutDuSite.cshtml";
    ViewBag.Title = "Ajouter un livre";
}
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Ajout d'un livre à la bibliothèque</legend>
        <div style="display: table;">
            <div style="display: table-row">
                <div style="display: table-cell;">
                    @Html.LabelFor(model => model.Titre) : <br />
                    @Html.LabelFor(model => model.DateParution) : <br />
                    @Html.LabelFor(model => model.SelectedAuteurs) : <br />
                </div>
                <div style="display: table-cell;">
                    @Html.TextBoxFor(model => model.Titre)<br />
                    @Html.TextBoxFor(model => model.DateParution)<br />
                    @Html.DropDownListFor(model => model.SelectedAuteurs, new SelectList(Model.AuteursList, "Value", "Text"))<br />
                </div>
                <div style="display: table-cell;">
                    @Html.ValidationMessageFor(model => model.Titre)<br />
                    @Html.ValidationMessageFor(model => model.DateParution)<br />
                    @Html.ValidationMessageFor(model => model.SelectedAuteurs)<br />
                </div>

            </div>
        </div>

        <br /><br />
        <input type="submit" value="Ajouter" />
    </fieldset>
}